<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Магазин игр</title>

</head>

<body>
    {% block pagename %}
        <div class="hi">
            <h1 align="center">Добро пожаловать в наш магазин игр!</h1>
            <p align="center"><a href="/games">Перейти в магазин</a></p>
            <p align="center"><a href="/registration"> Регистрация </a></p>
        </div>
    {% endblock %}

    {% block menu %}

    {% endblock %}

    {% block content %}

    {% endblock %}
</body>
</html>